---
import { formatDate } from '../utils/formatDate';
import { FrontmatterProps } from '../utils/types';
import BaseLayout from './BaseLayout.astro';

type Props = FrontmatterProps;

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <div id="post-header" class="flex flex-col content-start text-center">
        <h1 class="my-0 text-5xl">{frontmatter.title}</h1>
        <h2 class="my-0 text-2xl text-slate-100">{frontmatter.subtitle}</h2>
        <p class="my-3 text-sm">
            Published: {formatDate(frontmatter.pubDate)}
            {
                frontmatter.editDate && (
                    <>| Edited: {formatDate(frontmatter.editDate)}</>
                )
            }
        </p>
        <div class="flex justify-center gap-2">
            {
                frontmatter.tags.map((tag) => (
                    <a
                        class="rounded-full border border-white bg-transparent py-1 px-2 font-serif text-sm font-extrabold no-underline hover:bg-white hover:text-black"
                        href={`/tags/${tag}`}
                    >
                        {tag}
                    </a>
                ))
            }
        </div>
    </div>
    <hr class="my-5" />
    <slot />
</BaseLayout>
